@import url('http://fonts.googleahttps://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap%27');
*
{
margin: 0;
padding: 0;
font-family: borel;
}

body {
  margin-top: 300px;
    background: rgb(153, 192, 162);
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    display: flex;
    /* box-shadow: 2px 2px 5px black */
 }

 .vertical-menu {
    width: 100px; /* Set a width if you like */
    position: absolute;
    left: 100px;
    top: 50px;
  }
  
  .vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    border: 15px;
    border-radius: 30px;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
  }
  
  .vertical-menu a.active {
    background-color: #04AA6D; /* Add a green color to the "active/current" link */
    color: white;
  }

  .paragrafai {
    width:min-content;
    border: solid 20px #04AA6D;
    border-radius: 30px;
    border-style: double;
    justify-content:;
    }

